@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2E6070;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #2E6070;
}
#logo {
    float: left;
    height: 250px;
    width: 220px;
    margin-left: 20px;
}