@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2E6070;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: #2E6070;
}

/* header */

#logo {
    float: left;
    height: 200px;
    width: 170px;
    margin-left: 20px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 0 20px;
}

#menu a:hover {
    border: 3px solid #2E6070;
    border-radius: 5%;
}

/* Hero Image section */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-text,
#image-text h2 {
    color: #ffff
}

#image-text {
    font-size: 110%;
    letter-spacing: 3px;
    text-align: center;

    width: 400px;
    height: 190px;

    background-color: rgba(0, 3, 99, 0.4);

    top: 125px;
    left: 230px;

    position: absolute;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    animation-name: picture-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes picture-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

/* Why Us? */

#why-us {
    height: 600px;
}

#left-text {
    padding-top: 100px;
    width: 33%;
    float: left;
}

#right-text {
    padding-top: 100px;
    width: 33%;
    float: right;
}

#center-content {
    width: 33%;
    margin: 0 auto;
}

.left-heading {
    width: 70%;
    line-height: 30px;
    float: right;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
}

.right-heading {
    width: 70%;
    line-height: 30px;
    float: left;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: 2px solid #2E6070;
}

#why-us-heading {
    text-align: center;
    font-size: 300%;
    padding-top: 40px;
    padding-bottom: 10px;
}

#center-container {
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
}

#center-image {
    background: url(../images/center-image.png) no-repeat center center;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    #why-us {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #why-us-heading {
        padding: 30px 0;
        margin: 0;
    }

    #left-text, #right-text {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-content {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        clear: both;
        float: left;
        font-size: 125%;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu a {
        padding: 2px;
        margin: 0;
        width: 20%;
    }

    #menu li {
        padding: 10px;
        margin: 0;
    }

    #logo {
        height: 150px;
        width: 130px;
        margin-left: 30%;
        padding-bottom: 10px;
    }


}
