@import url('https://fonts.googleapis.com/css2?600&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

.heading-font {
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2E6070;
}

.sub-heading-font {
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: #2E6070;
}

/* header */

#logo {
    float: left;
    height: 200px;
    width: 170px;
    margin-left: 20px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 0 20px;
}

#menu a:hover {
    background-color: #2E6070;
    color: #fafafa;
    border-radius: 5%;
}

/* Hero Image section */
#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-text,
#image-text .sub-heading-font {
    color: #ffff
}

#image-text {
    font-size: 120%;
    letter-spacing: 3px;
    text-align: center;
    width: 500px;
    height: 150px;
    background-color: rgba(0, 3, 99, 0.4);
    top: 200px;
    left: 300px;
    position: absolute;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    animation-name: picture-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes picture-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

/* About Us Section */





/* Why Us Section */

#why-us {
    height: 650px;
    padding-top: 50px;
}

#left-text {
    padding-top: 50px;
    width: 33%;
    float: left;
}

#right-text {
    padding-top: 50px;
    width: 33%;
    float: right;
}

#center-content {
    width: 33%;
    margin: 0 auto;
}

.left-heading {
    width: 70%;
    line-height: 30px;
    float: right;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
}

.right-heading {
    width: 70%;
    line-height: 30px;
    float: left;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: 2px solid #2E6070;
    width: 100%;
}

#why-us-heading {
    text-align: center;
    font-size: 300%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#center-container {
    width: 350px;
    height: 350px;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
}

#center-image {
    background: url(../images/center-image.jpeg) no-repeat center center;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

/* Register Form */

.form-section {
    clear: left;
    height: 650px;
    background: url(../images/form-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.register-form {
    margin: 0 auto;
    margin-top: 5%;
    color: #fafafa;
    background-color: rgba(58, 58, 58, 1);
    max-width: 950px;
    position: absolute;
    position: relative;
    padding: 20px;
}

form .heading-font {
    color: #fafafa;
    font-size: 250%;
    text-align: center;
    padding: 20px;
}

form hr {
    border: 1px solid #fafafa;
}

form .sub-heading-font {
    color: #fafafa;
    text-align: center;
    padding: 20px;
}

.text-input {
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border-radius: 2%;
}

.text-input:hover {
    background-color: #2E6070;
    color: #fafafa
}

.levels {
    padding: 10px;
    margin-left: 50px;
    font-size: 90%;
}

.register-button {
    margin: 0 auto;
    border-radius: 5%;
    padding: 10px 20px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: black;
    display: block;
}

.register-button:hover {
    background-color: #2E6070;
    color: #fafafa;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    #why-us {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #why-us-heading {
        padding: 30px 0;
        margin: 0;
    }

    #left-text,
    #right-text {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-content {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        clear: both;
        float: left;
        font-size: 125%;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu a {
        padding: 2px;
        margin: 0;
        width: 20%;
    }

    #menu li {
        padding: 10px;
        margin: 0;
    }

    #logo {
        height: 150px;
        width: 130px;
        margin-left: 30%;
        padding-bottom: 10px;
    }
}